.container
  +widescreen
    max-width: 1200px
p
  font-weight: $weight-normal

div.content-wrap
  background-color:  $blue-even-lighter
div.content
  background-color:  $blue-even-lighter
  img
    height: auto
    vertical-align: middle
  li
    margin-bottom: 15px

figure, dl.wp-caption
  margin-bottom: 1em
  position: relative
  overflow: hidden
  max-width: 100%
  figcaption, dd.wp-caption-dd
    padding: 15px 10px
    background-color: $blue-lighter
    font-size: $size-6
    font-weight: $weight-normal
    color: $blue
    +desktop
      position: absolute
      bottom: 0

img.alignleft, figure.alignleft, .youtube-shortcut.alignleft
  +tablet
    float: left
    margin: 0.5em 1em 0.5em 0
img.alignright, figure.alignright, .youtube-shortcut.alignright
  +tablet
    float: right
    margin: 0.5em 0 0.5em 1em


dd.wp-caption-dd
  bottom: 0 !important

blockquote
  background: transparent !important
  font-size: $size-5
  font-weight: $weight-normal
  font-family: $family-museo-slab
  color: $blue-darker
  border-left: 5px solid $blue-darker !important
  padding: 0 20px !important
  margin-left: 20px

hr.small
  border-top-color: $white
  border-top-width: 4px
  width: 20%
  clear: left
  margin-top: 26px
  margin-bottom: 20px
  &:first-child
    margin-top: 0
    +tablet
      margin-top: 10px
  ~ h1,
  ~ h2,
  ~ h3,
  ~ h4,
  ~ h5,
  ~ h6
    margin-top: 0 !important


table
  td, th
    color: $black !important
  thead
    background-color: $grey-lighter

.wp-block-table
    &.is-fixed-layout
        table
            table-layout: fixed

legend
  background: $blue-lighter
  color: $blue-darker
  width: 100%
  padding: 10px
  text-transform: uppercase
  margin-bottom: 20px
  font-weight: 700

fieldset:not(:first-child)
  margin-top: 20px !important
