// Appearance -> Customize -> Additional CSS Ported changes 10.05.2021
.button.is-transparent-90
    background-color: rgba(255,255,255,0.0)
    border-bottom: solid 1px #fff
    padding: 0

.button.is-transparent-90:hover
    background-color: rgba(255,255,255,0.0)

.home-welcome, .home-visit
    padding-top: 0
    padding-bottom: 0
    overflow: hidden

.home-welcome .container, .home-visit .container
    position: relative
    padding-top: 80px
    padding-bottom: 50px

.home-welcome h1
    color: #111111
    font-size: 60px
    line-height: 78px
    margin-bottom: 8px

.home-visit h1
    color: #111111
    font-size: 55px
    line-height: 66px
    margin-bottom: 8px

.home-welcome p.style-1, .home-visit p.style-1
    font-size: 24px
    line-height: 34px
    margin-bottom: 20px !important

.home-welcome p, .home-visit p
    font-size: 14px
    line-height: 24px
    margin-bottom: 24px

.home-welcome .button, .home-visit .button
    margin-top: 40px

.home-welcome .container-img
    width: 710px
    height: auto
    position: absolute
    bottom: -1px
    right: -290px

.home-visit .container-img
    width: 249px
    height: auto
    position: absolute
    top: 230px
    right: 20px

.btn-dark-red
    color: #ffffff !important
    font-weight: 500
    text-transform: uppercase
    background: linear-gradient(180deg, #870337 0%, #6A052D 100%) 0% 0%
    -webkit-box-shadow: 0 3px 6px 0 #000029
    -moz-box-shadow: 0 3px 6px 0 #000029
    box-shadow: 0 3px 6px 0 #000029
    border-radius: 3px
    border: none
    font-size: 16px
    line-height: 20px
    padding: 26px 50px
    -webkit-transition: all 0.1s ease-out
    -moz-transition: all 0.1s ease-out
    -o-transition: all 0.1s ease-out
    transition: all 0.1s ease-out
    max-width: 216px

.btn-dark-red:hover
    color: #ffffff

.btn-dark-blue
    color: #ffffff !important
    font-weight: 500
    text-transform: uppercase
    background: linear-gradient(180deg, #5692CE 0%, #5692CE 100%) 0% 0%
    -webkit-box-shadow: 0 3px 6px 0 #000029
    -moz-box-shadow: 0 3px 6px 0 #000029
    box-shadow: 0 3px 6px 0 #000029
    border-radius: 3px
    border: none
    font-size: 16px
    line-height: 20px
    padding: 26px 50px
    -webkit-transition: all 0.1s ease-out
    -moz-transition: all 0.1s ease-out
    -o-transition: all 0.1s ease-out
    transition: all 0.1s ease-out
    max-width: 216px

.btn-dark-blue:hover
    color: #ffffff

.nav-menu .btn-dark-red,
.nav-menu .btn-dark-blue
    max-width: 160px

.nav-item-btn-wrapper
    padding: 10px 22px !important

.section-header .btn-dark-red,
.section-header .btn-dark-blue
    padding: 22px 50px

section.sections article.social.tile
    padding: 0

section.sections article.social.tile
    background-color: #808285

section.sections article.social.tile > img
    width: 100%
    height: auto
    vertical-align: bottom

@media screen and (max-width: 1499px)
    .home-welcome .container-img
        width: 640px
        right: -190px

@media screen and (max-width: 1299px)
    .home-welcome .container-img
        width: 614px
        right: -90px

@media screen and (max-width: 1179px)
    .home-welcome h1
        font-size: 48px
        line-height: 56px

    .home-welcome .container-img
        width: 514px

    .nav-menu .btn-dark-red,
    .nav-menu .btn-dark-blue
        max-width: 150px

@media screen and (max-width: 991px)
    .home-welcome .container
        padding-bottom: 100px

    .home-welcome h1, .home-visit h1
        font-size: 42px
        line-height: 48px

    .home-welcome .container-img
        width: 400px

    .home-visit .container-img
        width: 200px
        right: 0

@media screen and (max-width: 768px)
    .home-visit .container-img
        width: 150px
        right: calc(50% - 190px)
        bottom: 10px
        top: auto

@media screen and (max-width: 578px)
    .home-welcome .container
        padding-bottom: 220px

    .home-welcome h1, .home-visit h1
        font-size: 36px

    .home-welcome .container-img
        right: -40px

@media screen and (max-width: 478px)
    .home-visit .container-img
        display: none

/*# sourceMappingURL=style.css.map */

/*Appearance -> Customize -> Additional CSS Ported changes 10.05.2021*/

.home-visit .h1
    color: #111111
    font-size: 36px !important
    line-height: 1.3
    margin-bottom: 8px

@media screen and (min-width: 579px)
    .home-visit .h1
        font-size: 42px !important

@media screen and (min-width: 992px)
    .home-visit .h1
        font-size: 48px !important

@media screen and (min-width: 1180px)
    .home-visit .h1
        font-size: 60px !important

.home-welcome h1 span
    font-size: 24px
    line-height: 34px
    margin-top: 8px
    margin-bottom: 20px !important
    font-family: "museo-sans",sans-serif
    font-weight: 300
    display: block

section.sections article.page .title
    font-size: 18px !important

@media screen and (min-width: 992px)
    section.sections article.page .title
        font-size: 20px !important

@media screen and (min-width: 1180px)
    section.sections article.page .title
        font-size: 24px !important

/* latest posts */
.latest-posts
    background: #e7e7e7
    padding: 80px 0

.latest-posts div.content
    background: none
    margin-bottom: 0

.latest-posts .container
    padding: 0 20px

@media screen and (min-width: 1216px)
    .latest-posts .container
        padding: 0

.latest-posts h2
    color: #000
    font-size: 36px !important
    margin: 0 0 1em !important

.latest-posts h2 a
    color: #000

.latest-posts h2 a:hover,
.latest-posts h2 a:focus
    color: #000

.latest-posts__results
    display: grid
    grid-gap: 20px
    grid-template-columns: repeat(1, 1fr)

@media screen and (min-width: 768px)
    .latest-posts__results
        grid-template-columns: repeat(2, 1fr)

@media screen and (min-width: 992px)
    .latest-posts__results
        grid-template-columns: repeat(3, 1fr)

.latest-posts .intro-post
    background: #fff
    display: flex
    flex-direction: column
    padding: 20px

.latest-posts figure
    margin: 0

.latest-posts .intro-post__title
    font-size: 1.5em
    line-height: 1.3
    margin: 0 0 0.5em

.latest-posts .content a.intro-post__title:hover,
.latest-posts .content a.intro-post__title:focus
    border: none

.latest-posts .intro-post > *:last-child
    margin-top: auto

.latest-posts__all
    text-align: center
    margin: 50px auto 0

/*
 * content-sidebar-wrap
 * Used on the blog
 */
.content-sidebar-wrap > .sidebar
    padding: 50px 20px

@media screen and (min-width: 980px)
    .content-sidebar-wrap
        display: flex
        justify-content: space-between

    .content-sidebar-wrap > .main
        flex-grow: 1

    .content-sidebar-wrap > .sidebar
        flex: 0 0 20%
        margin-left: 40px
        padding: 50px 0

/* sidebar */
.sidebar .widget
    background: #fff
    padding: 20px

.sidebar .widget + .widget
    margin-top: 20px

.sidebar .widget-title
    font-size: 24px !important
    margin: 0 0 0.5em !important

.sidebar .widget ul
    list-style: none
    margin: 0
    padding: 0

.sidebar .widget ul li
    border: solid #d3d6db
    border-width: 0 0 1px
    margin: 0
    padding: 0.5em 0

.sidebar .widget ul li:first-child
    border-width: 1px 0

.sidebar .widget ul li.current-cat
    font-weight: 700
