@font-face
  font-family: 'icomoon'
  src: url('fonts/icomoon.eot?p37etz')
  src: url('fonts/icomoon.eot?p37etz#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?p37etz') format('truetype'), url('fonts/icomoon.woff?p37etz') format('woff'), url('fonts/icomoon.svg?p37etz#icomoon') format('svg')
  font-weight: normal
  font-style: normal
