// Stick the footer
// body:not(.home)
//   display: flex
//   min-height: 100vh
//   flex-direction: column
//   .content-wrap
//     flex: 1



section.footer
  background: none
  padding: 0
  .ivy-bg
    background: url(img/plants.jpg)
  .social-button
    border: 0
    .social-button-text, .social-button-arrow
      color: $white

    .social-button-text
      padding: 35px 20px
      font-size: 19px
      +desktop
        font-size: 24px
      // text-transform: uppercase
      i.fa
        vertical-align: middle
        margin-right: 10px
        font-size: $size-3
        color: transparentize($white, .2)
    .social-button-arrow
      padding: 35px 20px
      background: transparentize(black, .6)
      font-size: $size-5
      +tablet
        padding: 35px

    &:hover
      opacity: .8

  footer.footer
    border-top: 2px solid $blue
    margin-top: 1px
    font-family: $family-proxima-nova
    color: $blue
    font-size: $size-normal
    padding: 40px 20px 0px

    p
      .fa
        font-size: $size-normal !important
        vertical-align: initial
        margin-right: 5px
      &.option-name
        text-transform: uppercase
      &.option-value
        color: $black
        font-weight: bold
    a
      font-weight: bold
      color: $blue-darker
      display: block
      &:visited
        color: $blue-darker
      &:hover
        color: $blue
      &:not(.icon)
        border-bottom: 0

    #footer-menu
      hr
        border-top-width: 1px !important
        width: 10%
      a
        padding: 10px 0

    .copyright
      font-size: $size-small
