

.blue-darker-bg,
.red-dark-bg,
.blue-bg,
.grey-darker-bg
  .button
    color: white
    border: 0
    i
      margin-left: 5px


.blue-darker-bg
  .button
    background-color: $blue-darker
    &:hover
      background-color: transparentize($blue-darker, .1)
.red-dark-bg
  .button
    background-color: $red-dark
    &:hover
      background-color: transparentize($red-dark, .1)
.blue-bg
  .button
    background-color: $blue
    &:hover
      background-color: transparentize($blue, .1)
.grey-darker-bg
  .button
    background-color: $grey-darker
    &:hover
      background-color: transparentize($grey-darker, .1)


.button
  i
    margin-left: 10px
  &.is-info
    &:visited
      color: white !important
  &.is-transparent
    text-transform: uppercase
    padding: 0 8px
    color: white
    background-color: transparentize($white, .5)
    border: 0
    border-radius: 0
    font-family: $family-proxima-nova
    &:hover
      background-color: transparentize($white, .4)
    &:visited
      color: white


  &.is-transparent-90
    background-color: transparentize($white, .9)
    &:hover
      background-color: transparentize($white, .8)








$body-bg: #fff
// Shadows
$shadow-inset: inset 0 2px 2px 0 rgba(0, 0, 0, .14)
$shadow-0: 0 0 1px rgba(0, 0, 0, 0)
$shadow-2: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
$shadow-3: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
$shadow-4: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
$shadow-6: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
$shadow-8: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
// Font Sizes
$mf-font-size: 15px !default
$mf-active-font-size: $mf-font-size * 0.8 !default
$mf-active-top: (-$mf-font-size)-5 !default
// Margin & Paddings
$mf-gap: 5px !default
$mf-spacer: $mf-font-size / 8  !default
$mf-fieldset-margin: 0 0 $mf-gap * 2 !default
$mf-checkbox-gap: $mf-font-size * 2 !default
$mf-checkbox-top: 0 !default
$mf-radio-margin: $mf-font-size / -4 !default
// Colors
$mf-input-color: #333 !default
$mf-border-color: #fff !default
$mf-label-color: $primary !default
$mf-active-color: darken($blue-light, 25%) !default
$mf-focus-color: $primary !default
$mf-error-color: $danger !default
// Animation
$mf-transition-speed: 0.28s !default




// The Styles for the form
fieldset
  margin: $mf-fieldset-margin
  padding: 0
  border: none


.form-radio,
.form-group
  position: relative
  margin-top: ($mf-gap * 1.5)
  margin-bottom: ($mf-gap * 1.5)
  br
    display: none


.form-inline
  > .form-group,
  > .btn
    display: inline-block
    margin-bottom: 0



.form-help
  margin-top: $mf-spacer
  margin-left: $mf-spacer
  color: $mf-label-color
  font-size: $mf-active-font-size
  .checkbox &,
  .form-radio &,
  .form-group &
    position: absolute
    width: 100%

  .checkbox &
    position: relative
    margin-bottom: $mf-font-size

  .form-radio &
    padding-top: ($mf-spacer * 2)
    margin-top: -$mf-font-size



.form-group
  input
    height: ($mf-font-size * 1.9)

  textarea
    resize: none

  select
    width: 100%
    font-size: $mf-font-size
    height: ($mf-font-size * 1.6)
    padding: $mf-spacer $mf-spacer ($mf-spacer / 2)
    background: $white
    border: none
    line-height: 1.6
    box-shadow: none
    margin-top: 5px

  .control-label
    position: absolute
    top: ($mf-font-size / 4 - 5)
    pointer-events: none
    padding-left: $mf-spacer
    z-index: 1
    color: $mf-label-color
    font-size: $mf-font-size
    font-weight: normal
    transition: all $mf-transition-speed ease

  .bar
    position: relative
    border-bottom: ($mf-font-size / 16) solid $mf-border-color
    display: block
    &::before
      content: ''
      height: ($mf-font-size / 8)
      width: 0
      left: 50%
      bottom: ($mf-font-size / -16)
      position: absolute
      background: $mf-focus-color
      transition: left $mf-transition-speed ease, width $mf-transition-speed ease
      z-index: 2

  input
    background: none

  input,
  textarea
    display: block
    padding: $mf-spacer $mf-spacer ($mf-spacer / 2)
    font-size: $mf-font-size
    border-width: 0
    border-color: transparent
    line-height: 1.9
    width: 100%
    color: transparent
    transition: all $mf-transition-speed ease
    box-shadow: none
  textarea
    padding: 5px 10px
    ~ .control-label
      left: 10px

  input[type="file"]
    line-height: 1
    ~ .bar
      display: none


  select,
  input:focus,
  input.form-file,
  input.has-value,
  textarea:focus,
  textarea.form-file,
  textarea.has-value
    color: $mf-input-color
    ~ .control-label
      font-size: $mf-active-font-size
      color: $mf-active-color
      top: $mf-active-top
      left: 0


  select,
  input,
  textarea
    &:focus
      outline: none
      ~ .control-label
        color: $mf-focus-color

      ~ .bar
        &::before
          width: 100%
          left: 0






// Radio & Checkbox
.checkbox,
.form-radio
  label
    position: relative
    cursor: pointer
    padding-left: $mf-checkbox-gap
    text-align: left
    color: $mf-input-color
    display: block

  input
    width: auto
    opacity: 0.00000001
    position: absolute
    left: 0



.radio
  margin-bottom: $mf-font-size
  .helper
    position: absolute
    top: $mf-radio-margin
    left: $mf-radio-margin
    cursor: pointer
    display: block
    font-size: $mf-font-size
    user-select: none
    color: $blue
    &::before,
    &::after
      content: ''
      position: absolute
      left: 0
      top: 0
      margin: ($mf-spacer * 2)
      width: $mf-font-size
      height: $mf-font-size
      transition: transform $mf-transition-speed ease
      border-radius: 50%
      border: ($mf-font-size / 8) solid currentColor

    &::after
      transform: scale(0)
      background-color: $mf-focus-color
      border-color: $mf-focus-color


  label:hover .helper
    color: $mf-focus-color

  // scss-lint:disable QualifyingElement, NestingDepth
  input:checked
    ~ .helper
      &::after
        transform: scale(0.5)

      &::before
        color: $mf-focus-color





.checkbox
  // scss-lint:disable QualifyingElement
  margin-top: ($mf-gap * 2)
  margin-bottom: $mf-font-size
  .helper
    color: $blue
    position: absolute
    top: $mf-checkbox-top
    left: 0
    width: $mf-font-size
    height: $mf-font-size
    z-index: 0
    border: ($mf-font-size / 8) solid currentColor
    border-radius: ($mf-font-size / 16)
    transition: border-color $mf-transition-speed ease
    &::before,
    &::after
      position: absolute
      height: 0
      width: ($mf-font-size * 0.2)
      background-color: $mf-focus-color
      display: block
      transform-origin: left top
      border-radius: ($mf-font-size / 4)
      content: ''
      transition: opacity $mf-transition-speed ease, height 0s linear $mf-transition-speed
      opacity: 0

    &::before
      top: ($mf-font-size * 0.65)
      left: ($mf-font-size * 0.38)
      transform: rotate(-135deg)
      box-shadow: 0 0 0 ($mf-font-size / 16) $body-bg

    &::after
      top: ($mf-font-size * 0.3)
      left: 0
      transform: rotate(-45deg)


  label:hover .helper
    color: $mf-focus-color

  input:checked
    ~ .helper
      color: $mf-focus-color
      &::after,
      &::before
        opacity: 1
        transition: height $mf-transition-speed ease

      &::after
        height: ($mf-font-size / 2)

      &::before
        height: ($mf-font-size * 1.2)
        transition-delay: $mf-transition-speed





.radio + .radio,
.checkbox + .checkbox
  margin-top: $mf-font-size


.has-error
  .legend.legend,
  &.form-group .control-label.control-label
    // Prevent !importantRule
    color: $mf-error-color

  &.form-group,
  &.checkbox,
  &.radio,
  &.form-radio
    .form-help,
    .helper
      color: $mf-error-color


  .bar
    &::before
      background: $mf-error-color
      left: 0
      width: 100%


// Contact form - Error message
.wpcf7-not-valid-tip
  color: $danger !important
  display: block !important
  font-size: 11px !important
  margin-top: 5px !important

.wpcf7-response-output
  border-radius: 3px
  border: 0 !important
  padding: 16px 20px !important
  margin-left: 0 !important
  margin-right: 0 !important
  position: relative

  &.wpcf7-validation-errors
    background-color: $warning
    color: rgba(17,17,17,0.5)
  &.wpcf7-mail-sent-ok
    background-color: $success
    color: white


// Donations Form
form.give-form
    fieldset
        + fieldset
            margin-top: 50px !important
            +mobile
                margin-top: 30px !important
    legend
        background: #5692ce
        border-radius: 5px
        color: #fff
        font-size: 16px
        +mobile
            font-size: 14px
    .give-label
        color: #003b7b
        font-size: 1rem
        font-weight: 700
        display: inline-block
        width: 200px
    .give-input,
    .give-select,
    textarea
        border: 1px solid #ddd
        border-radius: 5px
        font-size: 16px
        padding: 4px 6px
        width: 100%
    .give-input,
    .give-select
        max-width: 350px
    .give-select
        border: 1px solid transparent
    .give-input
        border: 1px solid #ddd
        transition: border-color 200ms
        &:focus
            border-color: #aaa
            outline: none
    .give-radio-input
        + label
            font-size: 16px
    .radio,
    .checkbox
        label
            font-size: 16px
    .give_fee_mode_checkbox
        margin-right: 3px
    .give-fee-message-label-text
        font-size: 16px
    .give-recurring-donors-choice-period
        height: 38px
        padding: 3px 10px 3px 3px
    .give-donation-amount
        span.give-currency-symbol.give-currency-position-before,
        #give-amount
            color: #003b7b
            height: 50px
            font-size: 28px !important
        span.give-currency-symbol.give-currency-position-before
            line-height: 49px
    .give-donation-levels-wrap
        li
            &:last-child
                flex: 0 0 auto
        label
            font-size: 18px !important
            line-height: 1.1

#give-gateway-radio-list
    margin: 0 0 15px
    list-style: none
    display: flex
    width: 100%
    font-size: 16px
    +mobile
        display: block    
    li 
        margin: 0
        flex: 1 0 auto
        +mobile
            margin-bottom: 15px

fieldset.give-donation-submit
    border-top: 1px solid #ddd
    margin-top: 40px !important
    padding-top: 40px
    display: flex
    justify-content: space-between
    align-items: center
    +mobile
        display: block
        padding-top: 25px
        text-align: center

#give-final-total-wrap
    color: #003b7b
    font-size: 28px
    margin: 0
    +mobile
        font-size: 24px

.give-submit-button-wrap
    +mobile
        margin-top: 20px

#give-purchase-button
    background-color: #5692ce
    border: 1px solid #5692ce
    box-shadow: 0 2px 4px rgba(0,0,0,0.3)
    color: #fff
    cursor: pointer
    font-size: 21px
    line-height: 1
    padding: 0.75em 2em
    text-align: center
    white-space: nowrap
    border-radius: 5px

#give_secure_site_wrapper-782
    margin-bottom: 20px

// give paypal button
#give-paypal-commerce-smart-buttons-wrap
    .paypal-buttons
        max-width: 300px !important

// give paypal form
#give_cc_fields-782
    .separator-with-text
        margin: 30px 0
        font-style: italic
        .label
            color: #666
    .form-row
        display: flex !important
        align-items: center
        +mobile
            display: block !important
    .give-paypal-commerce-cc-field
        background: #fff
        border: 1px solid #ddd
        border-radius: 5px
        max-width: 350px
        transition: border-color 200ms
        font-size: 16px
        padding: 4px 6px
        width: 100%