=applybgs
  &.blue-darker-bg
    background-color: $blue-darker
  &.red-dark-bg
    background-color: $red-dark
  &.red-even-darker-bg
    background-color: $red-even-darker
  &.blue-bg
    background-color: $blue
  &.grey-darker-bg
    background-color: $grey-darker

=applycolors
  &.blue-darker
    color: $blue-darker
  &.blue-dark
    color: $blue-dark
  &.blue
    color: $blue
  &.blue-light
    color: $blue-light
  &.blue-lighter
    color: $blue-lighter
  // &.blue-even-lighter
  //   color: $blue-even-lighter
  &.red-darker
    color: $red-darker
  &.red-dark
    color: $red-dark
  &.red
    color: $red
  &.grey-darker
    color: $grey-darker

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

=transition($value)
  -moz-transition: $value
  -webkit-transition: $value
  transition: $value
=transition-transform($value)
  -moz-transition: -moz-transform $value, opacity $value
  -webkit-transition: -webkit-transform $value, opacity $value
  transition: transform $value, opacity $value

=border-radius($values)
  -moz-border-radius: $values
  -webkit-border-radius: $values
  border-radius: $values
  -moz-background-clip: padding
  -webkit-background-clip: padding-box
  background-clip: padding-box

=box-sizing($value)
  -moz-box-sizing: $value
  -webkit-box-sizing: $value
  box-sizing: $value

=background-size($value)
  -webkit-background-size: $value
  -moz-background-size: $value
  -ms-background-size: $value
  -o-background-size: $value
  background-size: $value

=transform($value)
  -webkit-transform: $value
  -moz-transform: $value
  transform: $value

=respond-to( $media )
  @if $media == smallest
    @media only screen and (max-width: 480px)
      @content
  @else if $media == small
    @media only screen and (min-width: 481px)
      @content
  @else if $media == tablet
    @media only screen and (min-width: 660px)
      @content
  @else if $media == medium
    @media only screen and (min-width: 768px)
      @content
  @else if $media == large
    @media only screen and (min-width: 960px)
      @content
  @else if $media == retina
    // @media only screen and (min-width: 480px)
    @media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)
      @content

=retina-image( $position, $url:img/sprite, $size:300px 300px, $color:null, $format:png )
  background: $color url($url + "." + $format) no-repeat $position
  +respond-to ( retina )
    background: $color url($url + "@2x." + $format) no-repeat $position
    +background-size( $size )
    .ie &
      background: $color url($url + "." + $format) no-repeat $position

=bg-gradient($start-colour, $end-colour)
  background-color: $start-colour
  background-image: -webkit-gradient(linear, left top, left bottom, from($start-colour), to($end-colour))
  background-image: -webkit-linear-gradient(top, $start-colour, $end-colour)
  background-image:    -moz-linear-gradient(top, $start-colour, $end-colour)
  background-image:     -ms-linear-gradient(top, $start-colour, $end-colour)
  background-image:      -o-linear-gradient(top, $start-colour, $end-colour)
  background-image:         linear-gradient(top, $start-colour, $end-colour)
