
header.header
  section.section-header
    +desktop
      border-top: 3px solid $blue
    .nav-item
      white-space: nowrap
    .logo
      margin: 11px 22px
      background: url(img/logo.svg)
      background-repeat: no-repeat
      width: 220px
      height: 54px
      display: block
      text-indent: -9000px
      overflow: hidden
      display: block
      padding: 0
      +desktop
        margin: 30px 15px
        width: 305px
        height: 74px

    .nav-right.nav-menu.desktop
      margin-right: 22px
      +desktop
        margin-right: 0
    .hamburger, .nav-toggle
      width: 52px
      background-color: $blue
      span
        background-color: $white
        height: 2px
    .desktop
      a
        color: $red-dark
        font-weight: $weight-bold
        &:not(.donation):hover
          opacity: .7
    .lnr
      color: $grey-dark
      vertical-align: middle
      font-size: 18px
      margin-right: 5px
    .donation
      +tablet
        margin-top: -67px
        width: 82px
        height: 123px
        display: block
        background-image: url(img/support-desktop.png)
        background-repeat: no-repeat
        background-position: center
        +transition(all .1s ease-out)
      &:hover
        margin-bottom: -100px
      +desktop
        margin-top: -23px
        &:hover
          margin-bottom: 0px
      // position: absolute

    .search-form
      background-color: $blue-lighter
      right: 0
      top: 50%
      margin-top: -35px
      &.is-open
        width: 300px

  .search-container
    position: relative
    .search-form
      width: 0
      padding: 20px 10px 5px 10px
      position: absolute
      z-index: 3
      opacity: 0
      display: none
      +transition(width $speed $easing)
      &.is-open
        opacity: 1
        display: block

  section.section-menu
    background-color: rgba(171,201,231,1)
    padding: 10px 20px
    text-align: center
    font-family: $family-museo-sans
    border-bottom: 2px solid $white
    &.sticky-element-active
      border-bottom: 0
      margin: 2px 0 1px
    a
      color: $black
      font-weight: $weight-bold
      +until(321px)
        font-size: 11px
    .lnr
      color: $grey-dark
      vertical-align: middle
      font-size: 18px
    .search-form
      background-color: $blue-lighter
      right: 0
      bottom: -70px
      &.is-open
        width: 300px

  .mobile-quick-menu
      .column
          padding-left: 0
          padding-right: 0

  .donation
    color: $red-darker
    text-transform: uppercase
    font-family: $family-museo-sans
    font-weight: $weight-bold
    .heart
      vertical-align: middle
      display: inline-block
    &:active
      background-color: $red-darker
      color: $white
    &:hover
      .heart
        animation: heart-burst .8s steps(28) 1
        background-position: right

  .heart
    height: 50px
    width: 50px
    background-image: url(img/web_heart_animation.png)
    background-position: left
    background-repeat: no-repeat
    background-size: 2900%

    &.is-animating
      animation: heart-burst .8s steps(28) 1
      // background-position: right
      //transition: background .8s steps(28) 1
