// Menu mobile
#nav-menu
  .nav-item
    padding: 10px 22px !important
    font-size: 12px
    &.primary
      background: $blue-lighter
      border-top: 1px solid $white
  .menu-drop
    position: relative
  .nav-item.parent
    text-transform: uppercase
    font-weight: $weight-bold
    font-family: $family-museo-slab
  .children .parent
    text-transform: initial
    color: $blue-darker
    font-family: $family-museo-sans
  .parent-icon
    position: absolute
    top: 0
    right: 0
    padding: 10px
  .children
    max-height: 0
    overflow: hidden
    // padding-left: 20px
    +transition(max-height $easing $speed)
    &.is-open
      max-height: 1000px
  .donation
    border-top: $red-darker 1px solid
    border-bottom: $red-darker 1px solid
    padding: 11px 0
    margin: 30px 0
    .column
      font-weight: $weight-bold
  .social-media-menu
    padding-bottom: 30px


.social-media-menu
  a
    color: $grey-dark !important
    margin: 3px
    font-size: 17px
    &:hover
      opacity: .8

.desktop
  .social-media-menu
    display: none
    +desktop
      display: inherit
      padding-left: 20px
      padding-right: 20px
    +widescreen
      padding-left: 40px
      padding-right: 40px


#main-menu-desktop
  justify-content: center
  .column:not(.is-4):not(.second-level)
    padding: 10px 25px
    +desktop
      padding: 10px 40px
  i
    font-size: 10px
    vertical-align: middle
    margin-left: 5px

  .is-active
    color: $blue
  .is-narrow > .is-active
    color: $white

  a:hover
    color: $blue

  .submenu
    display: none
    border-top: 2px solid $white
    position: absolute
    text-align: left
    z-index: 2
    background-color: #eef4fa
    color: $black
    top: 39px
    padding: 26px 26px 37px 26px
    width: 100%
    left: 0
    a
      font-size: $size-6
      font-family: $family-museo-sans
      font-weight: $weight-normal
    a.h1
      color: $black
      font-size: $size-1
      font-family: $family-museo-slab
      line-height: 35px
      margin-bottom: 10px
    hr
      border-top-color: $white
      border-top-width: 1px
      margin-top: 11px
      margin-bottom: -3px
      width: 15%
    hr.big
      width: 100%
      border-top-width: 3px
      margin-top: 29px
      margin-bottom: 26px

  .second-level
    a
      color: $blue-darker
      font-weight: $weight-bold
      font-family: $family-museo-sans
  .column:hover .submenu
    display: block

nav.pagination
  margin-top: 20px
  ul
    list-style: none
    li span
      color: $blue-darker
