.content ul.publications
  width: 100%
  max-width: 1000px
  margin: 0
  padding: 0
  list-style: none
  display: grid
  grid-template-columns: repeat(1, 1fr)
  grid-gap: 1rem 3rem
  +tablet
    grid-template-columns: repeat(2, 1fr)
  +desktop
    grid-template-columns: repeat(3, 1fr)
  li
    width: 100%
    max-width: 205px
    position: relative
    + li
      margin-top: 0
    +tablet
      max-width: 255px
    +desktop
      max-width: 305px
  a
    display: block
    &:hover
      text-decoration: none
      border-bottom: 0
  h2
    position: absolute
    bottom: 10px
    left: 0
    background-color: #dbe8f5
    color: #555d66
    font-size: 15px !important
    line-height: 20px
    padding: 1rem 0.8rem
    box-sizing: border-box
  &.wide
    margin-bottom: 40px
    +desktop
        grid-template-columns: repeat(2, 1fr)
    li
        max-width: none
    h2
        position: relative
        bottom: auto
        left: auto
        background-color: transparent
        color: #003b7b
        font-size: 28px !important
        line-height: 1.4
        padding: 0
        margin: 0.75em 0 0