.slick-arrow
    background: url('img/icon-arrow.svg') no-repeat center
    background-size: contain
    height: 25px
    width: 25px
    z-index: 1
    &::before
        content: none
    &:hover,
    &:focus
        background: url('img/icon-arrow.svg') no-repeat center

.slick-next
    right: 30px

.slick-prev
    left: 30px
    transform: rotate(180deg) translate(0, 50%)

.slick-dots
    li
        opacity: 0.4
        transition: opacity 100ms
        width: 10px
        &.slick-active
            opacity: 1

.slick-hide-dots
    .slick-dots
        display: none !important