// Content page
*
  box-sizing: border-box

.a2a_kit a
  border: 0 !important


.fa-instagram-square:before
  content: "\e900"
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  zoom: 0.85



.content-page
  padding: 22px
  +desktop
    padding: 50px 22px
  .entry-header
    h1
      font-size: 33px
      margin-bottom: 40px !important
      +mobile
        word-wrap: break-word
      +desktop
        font-size: 48px
  div.gmp_map_opts
    border: 10px solid #eff4fb
  div.fellows, div.students, div.events
    background-color: #eff4fb
    padding: 10px
    &:not(:last-child)
      margin-bottom: 10px
    figure
      margin: 0
  // Removed as asked https://basecamp.com/1971229/projects/11025518/todos/259822331
  // div.students:nth-child(odd)
  //   div.columns
  //     flex-direction: row-reverse
  div#em-wrapper
    > p
      display: none

  div.events
    .categories
      float: left
      width: 100%
      text-transform: uppercase
      font-family: $family-museo-sans
      font-weight: $weight-bold
      margin-bottom: 20px
      strong
        color: $black
        float: left
        margin-right: 5px
      a
        font-family: $family-museo-sans
        font-weight: $weight-bold
      ul
        float: left
        list-style: none
        margin: 0
        li
          float: left
          margin-left: 5px
          margin-top: 0
          &:not(:last-child)
            &:after
              content: ","

  figure.red-style
    margin: 0
    padding: 1px
    div.overlay
      background-color: $red-even-darker
    figcaption
      background-color: $red-even-darker
      color: $white
      font-size: 25px
      font-family: $family-museo-slab
      font-weight: $weight-normal
      padding: 20px
      +desktop
        opacity: .9
        width: 100%
        // fix the position absolute bug for 100% width
        margin: 0 1px 1px 0
        border-right: 2px solid #f6f9fd
    +tablet-only
      display: flex
      a
        display: flex
        flex-direction: column
        figcaption
          flex-grow: 1
    &:hover
      img
        opacity: .5
      figcaption
        opacity: 1

  div.gallery
    max-width: 1200px
    overflow: hidden
    opacity: 0
    transition: opacity $speed $easing
    &.is-visible
      opacity: 1

    /* clear fix */
    &:after
      content: ''
      display: block
      clear: both

    .grid-item
      float: left
      .overlay
        background-color: transparentize($red-even-darker, .4)
        font-size: 20px
        font-family: $family-museo-slab
        font-weight: $weight-normal
        color: $white
        overflow: hidden
        z-index: 1
        bottom: 0
        top: 0
        left: 0
        right: 0
        position: absolute
        display: flex
        align-items: center
        -webkit-box-pack: center
        -webkit-justify-content: center
        -ms-flex-pack: center
        justify-content: center
        opacity: 0
        +transition(opacity $speed $easing)
        span
          margin: 10px
      &:hover
        +desktop
          .overlay
            opacity: 1
      &.size11
        width: 68px
        height: 68px
        +tablet
          width: 148px
          height: 148px
      &.size22
        width: 137px
        height: 137px
        +tablet
          width: 298px
          height: 298px
      &.size44
        width: 276px
        height: 276px
        +tablet
          width: 599px
          height: 599px

div.blocks
  .full-column
    &.left
      figcaption
        +desktop
          left: 20px
    &.right
      justify-content: flex-end
      flex: 1
      display: flex
      figcaption
        +desktop
          right: 20px
  a
    text-decoration: none
  figure
    margin-bottom: 1px
    figcaption
      color: $white
      background-color: $red-even-darker
      padding: 20px
      min-height: 252px
      +desktop
        width: 477px
        background-color: transparentize($red-even-darker, .2)

      h1,
      span
        display: block
        &.title
          color: $white
          font-family: $family-museo-slab
          font-size: 45px
          font-weight: $weight-normal
          line-height: 1
        &.description
          color: $white
          font-family: $family-museo-sans
          font-size: 20px
          font-weight: $weight-bold
          margin-bottom: 20px

.content
  blockquote:not(:last-child),
  p:not(:last-child),
  ol:not(:last-child),
  ul:not(:last-child)
    margin-bottom: 20px
  a
    &:not(.button)
      border-bottom: 0
    .button
      i.fa.fa-long-arrow-right
        margin-left: 10px
    &:not(.button):hover
      border-bottom: 1px solid $blue

form.give-form
  label.give-hidden
    display: none
  .give-donation-levels-wrap
    display: flex
    list-style: none
    margin: 20px 0 0
    +mobile
        display: block
    li
        display: flex
        flex: 1 1 0
        align-items: center
        label
            margin-left: 10px
  .column.radio
    margin: 0 !important
  span.give-currency-symbol.give-currency-position-before
    background-color: #f2f2f2
    border-top: 1px solid #ccc
    border-bottom: 1px solid #ccc
    border-left: 1px solid #ccc
    color: #333
    margin: 0
    padding: 0 12px
    float: left
    height: 35px
    line-height: 35px
    font-size: 18px
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
  input#give-amount
    border: 1px solid #ccc
    background: #FFF
    border-radius: 0
    height: 35px
    line-height: 35px
    padding: 0 12px
    margin: 0
    font-size: 18px
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    width: 125px
  .give-donation-total-label
    font-weight: $weight-bold
.give_errors, #give_error_test_mode
  border-radius: 3px
  border: 0 !important
  padding: 16px 20px !important
  margin-left: 0 !important
  margin-right: 0 !important
  position: relative
  background-color: $warning
  color: rgba(17,17,17,0.5)
  strong
    color: rgba(17,17,17,0.5)
#give_error_test_mode
  margin-bottom: 20px

.date-event
  text-transform: uppercase

.full-columns
  +tablet
    display: flex
    align-content: stretch
  .full-column
    display: flex
    align-content: stretch
    border-top: 1px solid $white
    border-bottom: 1px solid $white
    width: 100%
    +applybgs
    +tablet
      border: 1px solid $white
      width: 50%
  &:not(.is-fullpage)
    .full-column
      > *
        width: 100%
        +tablet
          width: $widescreen-middle-width
        +desktop
          width: $desktop-middle-width
        +widescreen
          width: $widescreen-middle-width
      &:first-child
        border-left: 0
        justify-content: flex-end
      &:last-child
        border-right: 0
        justify-content: flex-start


.modal
  .modal-background
    background-color: transparentize($blue-light, .2)
  .modal-content
    .entry-modal
      padding: 10px
      background-color: $white

.youtube-shortcut
  margin-bottom: 1em
  max-height: calc(100vh - 40px)
  +tablet
    @for $i from 1 through 12
      &.is-#{$i}
        width: ($i / 12) * 100%
.embed-container
  position: relative
  padding-bottom: 56.25%
  height: 0
  overflow: hidden
  max-width: 100%
  height: auto

  iframe, object, embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%




// HOME PAGE

section.home-page
  background: url(img/plants.jpg)
  border-top: 1px solid $white
  border-bottom: 1px solid $white
  .content
    padding: 70px 25px
    background-color: transparent
  .overlay
    background-color: transparentize($black, .3)
    padding: 90px 20px
  p
    font-weight: $weight-bold
    font-family: $family-primary
    font-size: $size-medium
    color: $white

section.sections
  padding: 43px 10px
  background-color: $grey-lighter
  color: $white
  .section-title
    font-size: $size-large
    +mobile
      margin-bottom: 30px

  a:hover img
    opacity: .5
  img
    width: 100%
    +transition(opacity $speed $easing)
  article
    padding: 20px
    color: $white
    &.page
      .title
        font-family: $family-museo-slab
        font-weight: $weight-normal
        font-size: $size-3
        color: $white
      .sub-title
        font-weight: $weight-normal
        margin-bottom: 5px
        color: $white
      .sub-title+.title
        font-size: $size-4
    &.social
      img
        height: 100px
        width: 100px
      p
        color: $white
        margin-bottom: 10px
      .title
        color: $white
        font-family: $family-museo-sans
        font-weight: $weight-bold
        font-size: $size-normal
      .description
        font-family: $family-museo-slab
        font-weight: $weight-normal
        color: $white
        font-size: $size-normal
        word-break: break-word
      .timestamp
        font-size: $size-small

  .tile
    +applybgs
    &.is-reverse
      flex-direction: row-reverse
    &.is-ancestor
      margin-left: -1px
      margin-right: -1px
      margin-top: -1px
      &:last-child
        margin-bottom: -1px
      &:not(:last-child)
        margin-bottom: 1px
    &.is-parent
      padding: 1px
    &.is-vertical
      & > .tile.is-child:not(:last-child)
        margin-bottom: 2px !important

section.breadcrumb
  background-color: $white
  padding: 6px 22px
  .columns
    margin-top: 0
    margin-bottom: 0
  .column
    padding: 0 10px

h1.page-title,
h2.page-title
    color: #5692ce
    font-size: 33px
    margin-bottom: 40px !important
    +mobile
        word-wrap: break-word
    +desktop
        font-size: 48px