h1,
h2,
h3,
h4,
h5,
h6
  font-family: $family-museo-slab
  font-weight: $weight-normal
  color: $blue-darker
h1
  margin-bottom: 10px
  font-size: $size-1
h2
  margin-bottom: 10px !important
  font-size: $size-2 !important
h3,
.h3
  margin-bottom: 10px !important
  font-size: $size-3 !important
h4
  margin-bottom: 5px !important
  font-size: $size-4 !important
h5
  margin-bottom: 5px !important
  font-size: $size-5 !important
h6
  margin-bottom: 5px !important
  font-size: $size-6 !important


p
  &.style-1
    font-size: $size-5
    font-family: $family-museo-sans
    font-weight: $weight-normal
    margin-bottom: 30px !important
  &.style-2
    font-size: 20px
    font-family: $family-museo-sans
    font-weight: $weight-bold

.museo-slab-300
  font-family: $family-museo-slab
  font-weight: $weight-normal
  +applycolors
.museo-slab-700
  font-family: $family-museo-slab
  font-weight: $weight-bold
  +applycolors
.museo-sans-300
  font-family: $family-museo-sans
  font-weight: $weight-normal
  +applycolors
.museo-sans-700
  font-family: $family-museo-sans
  font-weight: $weight-bold
  +applycolors
