.venues
  &-list-item
    h3
      color: #418FDE
      padding: 25px 0
      border-bottom: 1px solid rgba(130,130,130,.11)
      margin-bottom: 0 !important
      cursor: pointer
      position: relative
      font-size: 18px !important
      +tablet
        font-size: 28px !important
      &::after
        content: ''
        position: absolute
        right: 0;
        top: calc(50% - 9px)
        background: url(img/venues/arrow-blue.svg)
        width: 34px
        height: 18px
        display: block
        zoom: .5
        +tablet
          zoom: 1
    
    &.open
      h3::after
        transform: rotate(180deg)


    &-details
      display: none
      margin: 2em 0
      gap: 2em
      +tablet
        grid-template-columns: 390px 1fr
      img
        justify-self: center
      .open &
        display: grid

    &-right
      display: flex
      flex-direction: column
      justify-content: space-between
      padding-top: .5em

    .caption
      margin-left: 0
      margin-right: 0

  .flexslider
    margin: 0 !important

  .flex-direction-nav a
    z-index: 2 !important
    height: 45px !important

  .flex-direction-nav a:before
    color: rgba(255, 255, 255, 0.8) !important


  hr.separator
    background-color: #ABC9E7 
    height: 40px
    margin: 0


  .caption
    display: flex !important
    flex-wrap: wrap
    align-items: stretch !important
    justify-content: space-between !important
    list-style: none !important
    margin-left: 0
    margin-right: 0

    &.small
      zoom: .85

    li
      margin-top: 2em
      display: grid
      justify-items: center
      align-items: center
      text-align: center
      gap: 2em
      width: 50%
      +tablet
        width: auto
        min-width: 140px

    strong
      color: black !important
