section.featured-items
  .full-columns:nth-child(even)
    .featured-item
      flex-direction: row-reverse
      .featured-title
        padding-left: 0
  .featured-item
    color: $white
    +tablet
      display: flex
      flex-grow: 1
    .featured-image
      flex: 1
      position: relative
      img
        width: 80%
        vertical-align: top
        +tablet
          width: 100%

      a.button
        position: absolute
        +mobile
          top: 0
          right: 0
        +tablet
          bottom: 0
          left: 0
    .featured-title
      flex: 1
      display: flex
      flex-direction: column
      align-items: flex-start
      justify-content: flex-end
      line-height: normal
      .title-container
        padding: 20px
        p
          margin-bottom: 10px

      .text-1
        font-family: $family-museo-slab
        font-size: $size-large
        +tablet
          font-size: 35px

    .fa.fa-play-circle-o
      font-size: 35px
  .full-column:first-child .reverse .title-container
    +tablet
      padding-left: 0

// taken from _extra.sass
.featured-items-new
    background-color: #5692ce

.featured-items-new .blue-bg
    background-color: #5692ce

.featured-items-new .blue-darker-bg
    background-color: #003b7b

.featured-items-new .red-dark-bg
    background-color: #870337

.featured-items-new .columns
    flex-wrap: wrap
    margin: 0

.featured-items-new .column
    padding: 0

.featured-items-new .featured-item.first-item
    display: block !important
    // height: 500px
    overflow-y: hidden

.featured-items-new .right-side
    display: flex
    flex-direction: column

.featured-items-new .featured-item
    // height: 250px

.featured-items-new .featured-image
    overflow-y: hidden

.featured-items-new .featured-image img
    object-fit: cover
    object-position: center
    height: 100%
    width: 100%

.featured-items-new .first-item
    position: relative

.featured-items-new .first-item .featured-title
    position: absolute
    bottom: 0
    height: 60px
    width: 100%
    display: block !important
    line-height: 60px !important
    text-align: right
    padding: 0 20px 0 20px

.featured-items-new .first-item .featured-title *
    vertical-align: middle

.featured-items-new .featured-item .featured-title .featured-title-insert
    padding: 20px

.featured-items-new .featured-item .featured-title .title
    font-family: "museo-slab",serif
    color: #ffffff
    font-size: 24px
    line-height: 36px
    margin-bottom: 10px

.featured-items-new .featured-item .featured-title p
    color: #ffffff
    font-size: 14px
    line-height: 22px
    margin-bottom: 10px

.featured-items-new > .container
    max-width: 1600px

@media screen and (max-width: 1600px)
    .featured-items-new > .container
        max-width: unset

@media screen and (max-width: 1179px)
    .featured-items-new .featured-item
        // height: 200px

    .featured-items-new .featured-item.first-item
        // height: 400px

    .featured-items-new .featured-item .featured-title .featured-title-insert
        padding: 10px

    .featured-items-new .featured-item .featured-title .title
        font-size: 20px
        line-height: 24px
        margin-bottom: 5px

    .featured-items-new .featured-item .featured-title p
        line-height: 18px
        margin-bottom: 5px

@media screen and (max-width: 991px)
    .featured-items-new .left-side
        width: 100%

    .featured-items-new .right-side
        width: 100%

    .featured-items-new .featured-item .featured-title .title
        font-size: 18px
        line-height: 22px

    .featured-items-new .featured-item .featured-title p
        line-height: 18px

@media screen and (max-width: 768px)
    .featured-items-new .left-side
        width: auto

    .featured-items-new .right-side
        width: auto

    .featured-items-new .featured-item.first-item
        height: auto

    .featured-items-new .featured-item
        height: auto

    .featured-items-new .featured-item .featured-title .featured-title-insert
        padding: 10px 10px 10px 10px

    .featured-items-new .first-item .featured-title
        text-align: left
        padding: 0 10px 0 10px

    section.featured-items .featured-item .featured-image img
        width: 100%

.featured-items-new .featured-item .featured-title .title
    font-size: 18px !important

@media screen and (min-width: 992px)
    .featured-items-new .featured-item .featured-title .title
        font-size: 20px !important

@media screen and (min-width: 1180px)
    .featured-items-new .featured-item .featured-title .title
        font-size: 24px !important