.homepage-hero
    &__slide
        background: center no-repeat
        display: flex
        align-items: flex-end
        height: 520px
        position: relative
        +tablet
            height: 720px
        +desktop
            height: 820px
        &::before
            background: rgba(0,0,0,0.4)
            content: ''
            display: block
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            z-index: 1
        video
            object-fit: cover
            width: 100%
            height: 100%
            position: absolute
            top: 0
            left: 0
        .container
            position: relative
            width: 100%
            z-index: 2
            .slide-content
                background: none
                max-width: 900px
                padding: 0px 30px 80px
                width: 100%
                +tablet
                    padding: 0 30px 90px
                +desktop
                    padding: 90px 0
                *
                    color: #fff
                    text-shadow: 0 3px 2px rgba(0,0,0,.9)
    .slick-dots
        display: flex
        justify-content: center
        bottom: 20px
        left: 50%
        margin: 0 auto
        transform: translateX(-50%)
        +tablet
            justify-content: flex-end
            padding-right: 30px
        +desktop
            max-width: 1200px
        li
            margin: 0 5px
            +tablet
                margin: 0
                + li
                    margin-left: 5px
            button
                display: block
                background: #fff
                height: 10px
                width: 10px
                &::before
                    content: none
    .slick-arrow
        +mobile
            top: auto
            bottom: 15px
            width: 20px
            height: 20px

.homepage-hero-slide__img
    display: block
    height: 100%
    left: 50%
    object-fit: cover
    object-position: center
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)
    width: 100%

.homepage-hero-slide__heading
    font-size: 32px !important
    font-weight: 500
    line-height: 1.2
    margin: 0 0 20px !important
    +tablet
        font-size: 46px !important
        margin-bottom: 30px !important
    +desktop
        font-size: 55px !important

.homepage-hero-slide__subheading
    font-size: 24px !important
    font-weight: 300
    line-height: 1.2
    +tablet
        font-size: 30px !important

.homepage-hero-slide__cta
    display: inline-block
    font-size: 16px
    font-weight: 700
    line-height: 1.2
    margin-top: 20px
    text-transform: uppercase
    position: relative
    +tablet
        margin-top: 30px
    &::after
        background: #fff
        box-shadow: 0 3px 2px rgba(0,0,0,.9)
        content: ''
        display: block
        position: absolute
        top: calc(100% + 4px)
        left: 0
        height: 2px
        width: 100%

