.home-videos
    .content-page
        margin-top: 20px
        +tablet
            margin-top: 50px
    h2
        color: #111
        font-family: "museo-slab",serif
        font-size: 28px !important
        +tablet
            font-size: 32px !important
        +desktop
            font-size: 45px !important

.home-videos__videos
    background: linear-gradient( to bottom, #fff 40%, #e7e7e7 40%)
    margin-top: 20px
    +tablet
        margin-top: 40px
        padding-bottom: 40px
    img
        display: block
        height: auto
        width: 100%
    h3
        background: #003B7B
        color: #fff
        font-family: "museo-slab",serif
        font-size: 18px !important
        margin: 0 !important
        padding: 20px
        +tablet
            font-size: 26px !important
            padding: 30px 40px

.home-videos__grid
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    a
        position: relative
        overflow: hidden
        display: block
        padding-top: 100%
        height: 0
        width: 100%
        &::before,
        &::after
            content: ''
            display: block
            position: absolute
            z-index: 1
        &::before
            top: 0
            bottom: 0
            left: 0
            right: 0
            background: #000
            opacity: .25
        &::after
            top: 50%
            left: 50%
            transform: translateX(-50%) translateY(-50%)
            background: url(img/icon-play.svg) 0 0 no-repeat
            background-size: contain
            height: 58px
            width: 58px
            opacity: 0.5
            transition: opacity 200ms
        &:hover
            &::after
                opacity: 1

    img
        position: absolute
        top: 50%
        left: 50%
        transform: translateX(-50%) translateY(-50%)

.container.wide
    max-width: 1600px
