/* ==========================================================================
 * Normalize.sass settings
 * ==========================================================================
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
/* ==========================================================================
 * HTML5 display definitions
 * ==========================================================================
/*
 * Corrects `block` display not defined in IE 8/9.

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary
  display: block

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.

audio, canvas, video
  display: inline-block

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.

audio:not([controls])
  display: none
  height: 0

/**
 * Address styling not present in IE 8/9.

[hidden]
  display: none

/* ==========================================================================
 * Base
 * ==========================================================================
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 * 3.Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.

html
  font-family: sans-serif
  /* 1
  -ms-text-size-adjust: 100%
  /* 2
  -webkit-text-size-adjust: 100%
  /* 2

/**
 * Remove default margin.

body
  margin: 0

/* ==========================================================================
 * Links
 * ==========================================================================
/**
 * Address `outline` inconsistency between Chrome and other browsers.
/**
 * Improves readability when focused and also mouse hovered in all browsers.

a
  &:focus
    outline: thin dotted
  &:active, &:hover
    outline: 0

/* ==========================================================================
 * Typography
 * ==========================================================================
/**
 * Addresses font sizes and margins set differently in IE 6/7.
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.

h1
  font-size: 2em
  margin: 0.67em 0

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.

abbr[title]
  border-bottom: 1px dotted

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.

b, strong
  font-weight: bold

/**
 * Address styling not present in Safari 5 and Chrome.

dfn
  font-style: italic

/**
 * Address differences between Firefox and other browsers.

hr
  -moz-box-sizing: content-box
  box-sizing: content-box
  height: 0

/**
 * Addresses styling not present in IE 8/9.

mark
  background: #ff0
  color: #000

/**
 * Addresses margins set differently in IE 6/7.
/**
 * Correct font family set oddly in Safari 5 and Chrome.

code, kbd, pre, samp
  font-family: monospace, serif
  font-size: 1em

/**
 * Improve readability of pre-formatted text in all browsers.

pre
  white-space: pre-wrap

/**
 *  Set consistent quote types.

q
  quotes: "\201C" "\201D" "\2018" "\2019"

/**
 * Address inconsistent and variable font size in all browsers.

small
  font-size: 80%

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.

sub
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline
  top: -0.5em

sub
  bottom: -0.25em

/* ==========================================================================
 * Embedded content
 * ==========================================================================
/**
 * 1. Remove border when inside `a` element in IE 8/9.
 * 2. Improves image quality when scaled in IE 7.

img
  border: 0

/**
 * Correct overflow displayed oddly in IE 9.

svg:not(:root)
  overflow: hidden

/* ==========================================================================
 * Figures
 * ==========================================================================
/**
 * Address margin not present in IE 8/9 and Safari 5.

figure
  margin: 0

/* ==========================================================================
 * Forms
 * ==========================================================================
/**
 * Define consistent border, margin, and padding.

fieldset
  border: 1px solid #c0c0c0
  margin: 0 2px
  padding: 0.35em 0.625em 0.75em

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.

legend
  border: 0
  /* 1
  padding: 0
  /* 2

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Improves appearance and consistency in all browsers.

button, input, select, textarea
  font-family: inherit
  /* 1
  font-size: 100%
  /* 2
  margin: 0
  /* 3

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.

button, input
  line-height: normal

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.

button, select
  text-transform: none

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.

button, html input[type="button"]
  -webkit-appearance: button
  /* 2
  cursor: pointer
  /* 3

input
  &[type="reset"], &[type="submit"]
    -webkit-appearance: button
    /* 2
    cursor: pointer
    /* 3

/**
 * Re-set default cursor for disabled elements.

button[disabled], html input[disabled]
  cursor: default

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.

input
  &[type="checkbox"], &[type="radio"]
    box-sizing: border-box
    /* 1
    padding: 0
    /* 2
  &[type="search"]
    -webkit-appearance: textfield
    /* 1
    -moz-box-sizing: content-box
    -webkit-box-sizing: content-box
    /* 2
    box-sizing: content-box
    &::-webkit-search-cancel-button, &::-webkit-search-decoration
      -webkit-appearance: none

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.

/**
 * Remove inner padding and border in Firefox 4+.

button::-moz-focus-inner, input::-moz-focus-inner
  border: 0
  padding: 0

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.

textarea
  overflow: auto
  /* 1
  vertical-align: top
  /* 2

/* ==========================================================================
 * Tables
 * ==========================================================================
/**
 * Remove most spacing between table cells.

table
  border-collapse: collapse
  border-spacing: 0

/* ==========================================================================
 * Helper classes
 * ==========================================================================
/*
 * Image replacement

.ir
  background-color: transparent
  border: 0
  overflow: hidden
  /* IE 6/7 fallback
  *text-indent: -9999px
  &:before
    content: ""
    display: block
    width: 0
    height: 150%

/*
 * Hide from both screenreaders and browsers: h5bp.com/u

.hidden
  display: none !important
  visibility: hidden

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px
  &.focusable
    &:active, &:focus
      clip: auto
      height: auto
      margin: 0
      overflow: visible
      position: static
      width: auto

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p

/*
 * Hide visually and from screenreaders, but maintain layout

.invisible
  visibility: hidden

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.

.clearfix
  &:before
    content: " "
    /* 1
    display: table
    /* 2
  &:after
    content: " "
    /* 1
    display: table
    /* 2
    clear: both
  *zoom: 1

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
/* ==========================================================================
 * Base styles: opinionated defaults
 * ==========================================================================

html, button, input, select, textarea
  color: #222222

body
  font-size: 1em
  line-height: 1.4

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.

\::-moz-selection, ::selection
  background: #b3d4fc
  text-shadow: none

/*
 * A better looking default horizontal rule

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #ccc
  margin: 1em 0
  padding: 0

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440

img
  vertical-align: middle

/*
 * Remove default fieldset styles.

fieldset
  border: 0
  margin: 0
  padding: 0

/*
 * Allow only vertical resizing of textareas.

textarea
  resize: vertical

/* ==========================================================================
 * Browse Happy prompt
 * ==========================================================================

.browsehappy
  margin: 0.2em 0
  background: #ccc
  color: #000
  padding: 0.2em 0

@media print
  /* ==========================================================================
   * Print styles.
   * Inlined to avoid required HTTP connection: h5bp.com/r
   * ==========================================================================
  *
    background: transparent !important
    color: #000 !important
    /* Black prints faster: h5bp.com/s
    box-shadow: none !important
    text-shadow: none !important
  a
    text-decoration: underline
    &:visited
      text-decoration: underline
    &[href]:after
      content: " (" attr(href) ")"
  abbr[title]:after
    content: " (" attr(title) ")"
  /*
   * Don't show links for images, or javascript/internal links
  .ir a:after
    content: ""
  a
    &[href^="javascript:"]:after, &[href^="#"]:after
      content: ""
  pre, blockquote
    border: 1px solid #999
    page-break-inside: avoid
  thead
    display: table-header-group
    /* h5bp.com/t
  tr
    page-break-inside: avoid
  img
    page-break-inside: avoid
    max-width: 100% !important
  @page
    margin: 0.5cm

  p, h2, h3
    orphans: 3
    widows: 3
  h2, h3
    page-break-after: avoid

@media screen only and (max-width: 480px)
  /* ==========================================================================
   * EXAMPLE Media Queries for Responsive Design.
   * Theses examples override the primary ('mobile first') styles.
   * Modify as content requires.
   * ==========================================================================

@media screen only and (max-width: 480px) and (-o-min-device-pixel-ratio: 5 / 4), screen only and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), screen only and (max-width: 480px) and (min-resolution: 120dpi)
  /* Style adjustments for high resolution devices